.wrapper{

    /* display grid is better than using flex, because it is suitible for a more advanced layout. Source: https://www.w3schools.com/css/css_grid.asp
    Grid-template-column defines how much each collumn space should take, three collumns: left 20%, middle 60% and right 20% space.*/
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px auto auto auto auto auto;
    background-color: rgb(255, 255, 255);
  
  /* width and height determines the size of the gridlayout*/
    width: auto;
    height: 1000px;

    /* margin-left and right controls how much space between left or right screen 
    and the element itself, by putting auto on both sides it will place it in the middle*/
    margin-left: auto;
    margin-right: auto;
}

/*grid1 is used to define the grids space..
Making the element a display flex, results in the text 
being able to position itself wherever inside the grid box*/

.grid1{
    background-color: rgba(255, 255, 255, 0.8);
   
    color:black;
    border-width: 1px solid rgba(0, 0, 0, 0.8);
    border-style: solid;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}



/* .gridnr# and gridoverlinje is used to position the elements inside the grid layout system.*/
.gridoverlinje{
    grid-column: 1/4;
    background-color:rgba(255,213,0,255);
}



.gridnr4{
    grid-row: 2/7;


   /* width: 100%;
    height: auto;
*/
    
}


.gridnr6{
    grid-row: 2/7;
    grid-column: 3;


}

.gridnr8{
    grid-row: 5/7;
}

.gridnr10{
    grid-row: 5/7;
    grid-column: 3;
}

/* --------------------------------------- filimon --------------------*/
/* ---------------------------------------Index --------------------*/
.logoPlassering img {
    width: 10%;
    height: auto;

}
.navigation {
    position:sticky;  

}
.navigation a {
    padding: 40px; 
    text-decoration: none;
}


.navigation a + a {
    margin-left: 20px; 
}


/* --------------------------- about ---------------------------- */
.klatre-img1, .makerspace-img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.klatre-img1 img, .makerspace-img2 img {
    max-width: 100%;
    max-height: 100%;
}

.Fotograf_title, .image-date {
    color: red;
    font-size: 20px;
    margin: 5px 0;
}

.image-caption {
    text-align: center;
    margin-top: 10px;
}


/*------------------------------Accessibility ----------------------------------*/
.accessibilityimageversion1
{
    width: 75%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: left;
}




