body {
    margin: 0;
    padding: 0;
}

.overlinje {
    display: grid;
    grid-template-columns: 160px;
    background-color: rgb(81, 81, 81);
}

.logo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: left;
}

.venstre {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: left;
    margin-top: 50%;
}

.image {
    max-width: 100%;
    max-height: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: rgb(163, 163, 160);
}

.grid {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    grid-column: 2;
    word-wrap: break-word;
}

.accessibilityimageversion1 {
    width: 75%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: left;
}

/* Style the dropdown container */

.dropbtn {
    font-size: 20px;
    background-color: #eaeaea;
    color: black;
    padding: 10px;
    border: 0rem;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #eaeaea;
    min-width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: max-height 1.5s ease; /* Specify the transition duration and easing */
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3498db;
    color: white;
}

.dropdown:hover .dropdown-content {
    max-height: 250px; /* Adjust the max-height to fit your content */
}

footer {
    height: 100%;
    width: 100%;
    background: rgb(67,66,66);
    color: white;
    font-size: 13px;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
